<style>
#simpleCarousel td div {
  position: absolute;
}
#simpleCarousel td.button {
  padding: 5px;
}
#simpleCarousel td.selected {
  font-weight: bold;
}
#simpleCarousel td.slides {
  height: 20px;
}
</style>
<table id="simpleCarousel">
  <tr><td colspan="4" class="slides">
   <div class="slide">I'm the first content slide</div>
   <div class="slide">I'm the second content slide</div>
   <div class="slide">I'm the third content slide</div>
   <div class="slide">I'm the fourth content slide</div>
  </td></tr>
  <tr>
    <td class="button">one</td>
    <td class="button">two</td>
    <td class="button">three</td>
    <td class="button">four</td>
  </tr>
</table>