<h2>SimpleSlideShow</h2>
<div id="slideShow">
  <p>slide 1</p>
  <p>slide 2</p>

  <p>slide 3</p>
  <p>slide 4</p>
</div>
slide <span id="slideNow"></span> of <span id="slideMax"></span>
<a href="javascript:void(0);" id="ssPrv">Previous</a> | 
<a href="javascript:void(0);" id="ssNxt">Next</a>


<h2>SimpleSlideShow.Carousel</h2>
<div id="slideShow2">
  <p>slide 1</p>
  <p>slide 2</p>
  <p>slide 3</p>
  <p>slide 4</p>
</div>
slide <span id="slideNow2"></span> of <span id="slideMax2"></span>
<a href="javascript:void(0);" id="ssPrv2">Previous</a> | 
<a href="javascript:void(0);" id="ssNxt2">Next</a>

<h2>SimpleImageSlideShow</h2>

<style>img.icon{cursor: pointer}</style>
<div id="simpleImgGallery">
<strong><span style="display: inline; margin: 0;padding: 0;" id="imgNow"></span>&nbsp;of&nbsp;<span style="display: inline; margin: 0;padding: 0;" id="imgMax"></span></strong>
<img src="Layout/review_showing_previous.gif" class="icon" alt="Previous" id="prevImg" /><img src="Layout/review_showing_next.gif" class="icon" alt="Next" id="nextImg"/>
</div>
<div id="screenShotImgs"></div>

<h2>SimpleImageSlideShow.Carousel</h2>

<div id="simpleImgGallery2">
<strong><span style="display: inline; margin: 0;padding: 0;" id="imgNow2"></span>&nbsp;of&nbsp;<span style="display: inline; margin: 0;padding: 0;" id="imgMax2"></span></strong>
<img src="Layout/review_showing_previous.gif" class="icon" alt="Previous" id="prevImg2" /><img src="Layout/review_showing_next.gif" class="icon" alt="Next" id="nextImg2"/>
</div>
<div id="screenShotImgs2"></div>