<style>
#tabBoxExample {width: 343px}
#tabBoxExample .tabSet {
	margin: 0;
	padding: 0 0 0 6px;
	height: 26px;
	width: auto;
	background: url(UserTests/Layout/tab-bkg.gif) bottom left repeat-x;
}


#tabBoxExample .tabSet li:before {
	content: "" !important;
}

#tabBoxExample .tabSet li {
	list-style-type: none;
	background: url(UserTests/Layout/tab-off-l.gif) top left no-repeat;
	float: left;
	margin: 0 2px 0 0 !important;
	padding: 0 0 0 14px !important;
	cursor: pointer;
}	
#tabBoxExample .tabSet li a {
	background: url(UserTests/Layout/tab-off-r.gif) top right no-repeat;
	display: block;
	float: left;
	height: 24px;
	line-height: 26px;
	*overflow: hidden;
	color: #545454;
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	padding: 2px 12px 0 0;
	text-decoration: none;
}

#tabBoxExample .tabSet li.on {
	background: url(UserTests/Layout/tab-on-l.gif) top left no-repeat;
}	
#tabBoxExample .tabSet li.on a {
	background: url(UserTests/Layout/tab-on-r.gif) top right no-repeat;
	color: #333;
}

#tabBoxExample .panelSet {
	padding: 10px;
	border:solid 1px #ccc;
	border-top: 0px;
	background: #fff;
}
</style>

<div id="tabBoxExample">
  <ul class="tabSet">
    <li class="off"><a>first tab</a></li>
    <li class="off"><a>second tab</a></li>
    <li class="off"><a>third tab</a></li>
  </ul>
  <div class="panelSet">
    <div class="panel">I'm the content for the first panel.</div>
    <div class="panel">
			I'm the content for the second panel.<br>
			I'm the content for the second panel.<br>
			I'm the content for the second panel.<br>
			I'm the content for the second panel.<br>
			I'm the content for the second panel.<br>
		</div>
    <div class="panel">
			I'm the content for the third panel.<br>
			I'm the content for the third panel.<br>
			I'm the content for the third panel.<br>
		</div>
  </div>
</div>